<p>employee-directory works!</p>
<div class="form-inline">
<div class="form-container1">
    <label for="" class="Keyword">Keywords</label><br>
    <input type="text" placeholder="Type in Keyword or Name" style="width: 300px;height: 40px; ;">
  </div>
  <div class="form-container2">
    <label for="" class="department"style="width: 200px; ">Department</label><br>
    <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: white; color: black; width: 200px; border-radius: 0%; height: 40px; border-left: 0px; text-align:start ;">
          All
        </a>
      
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
  </div>
  <div class="form-container3">
    <label for="" class="avilable">Available</label><br>
    <div class="dropdown" style="display: flex;">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" style="height: 40px; width: 150px; border-radius: 0%; background-color: white; color: black; border-left: none; text-align:start" >
          All
        </a>
      
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
        <button class="absolute" style="height: 40px;width: 150px;text-align: center; background-color: rgb(37, 176, 227); color: white;">Filter<span class="material-symbols-outlined" id="relative" style="padding-left: 2px;" ><small>
            search </small>
            </span></button>  

            <div class="">
                <div>

                </div>

            </div>
    </div>

</div>
<h1></h1>